In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
from sklearn.externals.six import StringIO
import pydotplus

/opt/anaconda3/lib/python3.7/site-packages/sklearn/externals/six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)

In [3]:
iris_data = pd.read_csv("/Users/sumedha/Desktop/iris.csv")
iris_data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        1
1            4.9           3.0            1.4           0.2        1
2            4.7           3.2            1.3           0.2        1
3            4.6           3.1            1.5           0.2        1
4            5.0           3.6            1.4           0.2        1

In [5]:
test_data1 = iris_data.iloc[0:10]
test_data2 = iris_data.iloc[50:60]
test_data3 = iris_data.iloc[100:110]
test_data = pd.concat([test_data1,test_data2,test_data3])
test_data

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0              5.1           3.5            1.4           0.2        1
1              4.9           3.0            1.4           0.2        1
2              4.7           3.2            1.3           0.2        1
3              4.6           3.1            1.5           0.2        1
4              5.0           3.6            1.4           0.2        1
5              5.4           3.9            1.7           0.4        1
6              4.6           3.4            1.4           0.3        1
7              5.0           3.4            1.5           0.2        1
8              4.4           2.9            1.4           0.2        1
9              4.9           3.1            1.5           0.1        1
50             7.0           3.2            4.7           1.4        2
51             6.4           3.2            4.5           1.5        2
52             6.9           3.1            4.9           1.5        2
53             5.5           2.3            4.0           1.3        2
54             6.5           2.8            4.6           1.5        2
55             5.7           2.8            4.5           1.3        2
56             6.3           3.3            4.7           1.6        2
57             4.9           2.4            3.3           1.0        2
58             6.6           2.9            4.6           1.3        2
59             5.2           2.7            3.9           1.4        2
100            6.3           3.3            6.0           2.5        3
101            5.8           2.7            5.1           1.9        3
102            7.1           3.0            5.9           2.1        3
103            6.3           2.9            5.6           1.8        3
104            6.5           3.0            5.8           2.2        3
105            7.6           3.0            6.6           2.1        3
106            4.9           2.5            4.5           1.7        3
107            7.3           2.9            6.3           1.8        3
108            6.7           2.5            5.8           1.8        3
109            7.2           3.6            6.1           2.5        3

In [6]:
train_data1 = iris_data.iloc[10:50]
train_data2 = iris_data.iloc[60:100]
train_data3 = iris_data.iloc[110:150]
train_data = pd.concat([train_data1,train_data2,train_data3])
train_data

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
10             5.4           3.7            1.5           0.2        1
11             4.8           3.4            1.6           0.2        1
12             4.8           3.0            1.4           0.1        1
13             4.3           3.0            1.1           0.1        1
14             5.8           4.0            1.2           0.2        1
..             ...           ...            ...           ...      ...
145            6.7           3.0            5.2           2.3        3
146            6.3           2.5            5.0           1.9        3
147            6.5           3.0            5.2           2.0        3
148            6.2           3.4            5.4           2.3        3
149            5.9           3.0            5.1           1.8        3

[120 rows x 5 columns]

In [7]:
train_data_lastColumn = train_data.iloc[:,4]
train_data_lastColumn.head()

10    1
11    1
12    1
13    1
14    1
Name: Species, dtype: int64

In [8]:
test_data_lastColumn = test_data.iloc[:,4]
test_data_lastColumn.head()

0    1
1    1
2    1
3    1
4    1
Name: Species, dtype: int64

In [9]:
train_data_remainingColumn = train_data.iloc[:,:4]
train_data_remainingColumn.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
10            5.4           3.7            1.5           0.2
11            4.8           3.4            1.6           0.2
12            4.8           3.0            1.4           0.1
13            4.3           3.0            1.1           0.1
14            5.8           4.0            1.2           0.2

In [10]:
test_data_remainingColumn = test_data.iloc[:,:4]

In [11]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(train_data_remainingColumn, train_data_lastColumn)

In [12]:
clf.predict([[4.3,3.0,1.1,0.1]])

array([1])

In [13]:
clf.predict(train_data_remainingColumn)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3])

In [14]:
tree.plot_tree(clf);

In [15]:
fn=['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']
cn=['1', '2', '3']
dot_data = StringIO()
tree.export_graphviz(clf,
                     out_file = dot_data,
                     feature_names=fn,
                     class_names= cn,
                     filled=True, rounded=True,impurity = False)
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())

In [16]:
graph.write_pdf("iris_data.pdf")

True